<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <link rel="preload" as="font" href="https://blagovist.church.ua/core/modules/55c05ff668/assets/font/socicon.woff2?v=4.2.18" type="font/woff2" crossorigin="">
    <link rel="preload" as="font" href="https://blagovist.church.ua/core/modules/55c05ff668/assets/font/Genericons.woff" type="font/woff" crossorigin="">
    <link rel="preload" as="font" href="https://blagovist.church.ua/core/modules/55c05ff668/assets/font/academicons.woff2?v=1.9.2" type="font/woff2" crossorigin="">
</head>
<body>
    <header>
        <h1>{% block header_title %}{% endblock %}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {{  current_year() }} Церковний календар</p>
    </footer>
</body>
</html>
